/* FONTS */
@font-face {
    font-family: Chicago;
    src: url(./fonts/ChicagoFLF.ttf);
}

/* VARIABLES CSS */
:root {
    --header-height: 3rem;

    /* COLORS */
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(219, 202, 254);
    --text-color: rgb(37, 37, 37);

    /* FONT AND TYPOGRAPHY */
    --body-font: Chicago, serif;
    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1rem;
    --h4-font-size: .5rem;

    /* FONT WEIGHT */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* MARGINES */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    --mb-7: 3.5rem;
    --mb-8: 4rem;
    --mb-9: 4.5rem;
    --mb-10: 5rem;
    --mb-11: 5.5rem;
    --mb-12: 6rem;
    --mb-13: 6.5rem;
    --mb-14: 7rem;
    --mb-15: 7.5rem;
    --mb-16: 8rem;
    --mb-17: 8.5rem;
}

/* BASE */
*,::before,::after {
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    margin: 0;
    font-family: var(--body-font);
    background-color: var(--primary-color);
    line-height: 1.5;
}

h1, h2, h3, p {
    margin: 0;
}

/* GENERAL */
.close-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-color);
    margin: 0 1rem 0 0;
    background-color: var(--primary-color);
}

.close-icon {
    width: 20px;
    height: auto;
}

/* HEADER */
.header {
    width: 100%;
    height: 30px;
    background-color: var(--secondary-color);
    background-image: none;
}

.header-body {
    padding: 0 .5rem 0 .5rem;
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-color);
}

.site-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-right: 10px;
    color: var(--text-color);
    border-right: 1px solid var(--text-color);
}

.date-time {
    display: flex;
    align-items: center;
    gap: .5rem;
    height: 100%;
    padding-left: 10px;
    color: var(--text-color);
    border-left: 1px solid var(--text-color);
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    color: var(--text-color);
    border-left: 1px solid var(--text-color);
}

.time span:not(:last-child) {
    position: relative;
    margin: 0 5px;
    text-align: center;
}

/* APPS ICONS */
.apps-body {
    margin-top: 2rem;
    position: absolute;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.apps-icon {
    width: 45px;
    height: auto;
    cursor: pointer;
    z-index: 3;
}

.app-title {
    font-size: 12px;
    text-align: center;
    color: var(--text-color);
}

/* SNAKE GAME */
#snake-game {
    position: absolute;
    top: 20%;
    right: 25%;
    width: 320px;
    height: 400px;
    z-index: 1;
    text-align: center;
    background-color: var(--primary-color);
}

.snake-game-draggable-item {
    cursor: grab;
    width: 320px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--text-color);
    border-bottom: none;
    background-color: var(--secondary-color);
}

.snake-game-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    margin-left: 1rem;
}

.snake-game-bar .bars {
    width: 75px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.snake-game-title {
    margin: 0 auto;
    font-size: 12px;
    color: var(--text-color);
}

.snake-game-body {
    width: 320px;
    height: 360px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
}

.play-board {
    width: 100%;
    height: 100%;
    display: grid;
    background: var(--primary-color);
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
    background: var(--primary-color);
    border: 1px solid var(--text-color);
}

.play-board .head {
    background: var(--text-color);
}

.game-details {
    color: var(--text-color);
    font-size: 10px;
    padding: .5rem 1rem .5rem 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-top: 1px solid var(--text-color);
}

/* ERROR */
#error {
    position: absolute;
    top: 73%;
    left: 10%;
    width: 200px;
    height: 200px;
    border: 1px solid var(--text-color);
    text-align: center;
    z-index: 1;
    background-color: var(--primary-color);
}

.error-draggable-item {
    cursor: grab;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--text-color);
}

.error-title {
    color: var(--text-color);
    margin-left: 1rem;
    font-size: 12px;
}

.error-body {
    height: 160px;
    background-color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2.5px;
}

.error-icon {
    width: 55px;
    height: auto;
}

.error-btn {
    cursor: pointer;
    font-family: var(--body-font);
    font-size: 10px;
    padding: .3rem;
    width: 85px;
    background-color: var(--text-color);
    box-shadow: 2.5px 2.5px var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.error-btn:hover {
    box-shadow: none;
    transform: translate(4px) !important;
    transition: all ease-in 0.2s;
    opacity: 1 !important;
}

/* POP UP */
#pop-up {
    position: absolute;
    top: 60%;
    left: 20%;
    width: 320px;
    height: 220px;
    border: 1px solid var(--text-color);
    text-align: center;
    z-index: 2;
    background-color:  var(--primary-color);
    box-shadow: 5px 5px var(--text-color);
}

.pop-up-draggable-item {
    cursor: grab;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-color);
    background-color: var(--secondary-color);
}

.pop-up-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    margin-left: 1rem;
}

.pop-up-bar .bars {
    width: 65px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.bar {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
}

.pop-up-title {
    color: var(--text-color);
    margin: 0 auto;
    font-size: 12px;
}

.pop-up-body {
    height: 180px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pop-up-text {
    color: var(--text-color);
    font-size: 10px;
    text-align: center;
}

.pop-up-img {
    width: 75px;
    height: auto;
}

.pop-up-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.pop-up-btn {
    cursor: pointer;
    font-family: var(--body-font);
    font-size: 10px;
    padding: .3rem;
    width: 70px;
    background-color: var(--secondary-color);
    box-shadow: 2.5px 2.5px var(--text-color);
    border: 1px solid var(--text-color);
    color: var(--text-color);
}

.pop-up-btn:hover {
    box-shadow: none;
    transform: translate(4px) !important;
    transition: all ease-in 0.2s;
    opacity: 1 !important;
}

/* TO DO */
#to-do {
    position: absolute;
    top: 35%;
    right: 15%;
    width: 250px;
    height: 140px;
    border: 1px solid var(--text-color);
    text-align: center;
    z-index: 1;
    background-color: var(--primary-color);
}

.to-do-draggable-item {
    cursor: grab;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-color);
    background-color: var(--secondary-color);
}

.to-do-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    margin-left: 1rem;
}

.to-do-bar .bars {
    width: 60px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.to-do-title {
    color: var(--text-color);
    margin: 0 auto;
    font-size: 12px;
}

.to-do-body {
    height: 99px;
    width: 249px;
    position: relative;
}

.to-do-body:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 30px solid var(--text-color);
    border-bottom: 30px solid var(--primary-color);
}

.input-group {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .5rem;
    padding: .5rem .5rem 0 .5rem;
}

.checkbox-row {
    font-size: 12px;
}

.checkbox-row input[type="checkbox"] {
    background-color: var(--primary-color);
    border: 1px solid var(--text-color);
}

#check:checked {
    accent-color: var(--text-color);
}

/* CALCULATOR */
#calculator {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 225px;
    height: 325px;
    border: 1px solid var(--text-color);
    text-align: center;
    z-index: 1;
    background-color: var(--primary-color);
    box-shadow: 5px 5px var(--text-color);
}

.calculator-draggable-item {
    cursor: grab;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-color);
    background-color: var(--secondary-color);
}

.calculator-title {
    color: var(--text-color);
    margin-left: 1rem;
    font-size: 12px;
}

.calculator-body {
    height: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--text-color);
}

.calculator {
    padding: 20px;
}

form .calculator-row input[type="button"] {
    background-color: var(--secondary-color);
} 

form .calculator-row.bottom {
    display: flex;
    flex-direction: row;
}

.calculator-row.bottom .calculator-left-row {
    display: flex;
    flex-direction: column;
}

.calculator-row.bottom .calculator-right-row {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.calculator.top, 
.calculator.bottom {
    padding: 0;
}

form .calculator-display {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 5px 0;
}

.calculator form input {
    color: var(--text-color);
    width: 30px;
    height: 30px;
    border: 1px solid var(--text-color);
    font-size: 14px;
    background-color: var(--primary-color);
    box-shadow: 2.5px 2.5px var(--text-color);
    margin: 5px;
    cursor: pointer;
    outline: none;
}

form .calculator-display input {
    text-align: right;
    flex: 1;
    font-size: 14px;
    box-shadow: none;
    padding: 0 5px;
}

.calculator-row input[type="button"]:hover {
    box-shadow: none;
    transform: translate(4px) !important;
    transition: all ease-in 0.2s;
    opacity: 1 !important;
}

form input.calculator-double-width {
    width: 75px;
    padding-left: 10px;
    text-align: start;
}

form input.calculator-double-height {
    height: 70px;
}

/* MUSIC PLAYER */
#music-player {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 350px;
    height: 150px;
    border: 1px solid var(--text-color);
    text-align: center;
    background-color: var(--primary-color);
}

.music-player-draggable-item {
    cursor: grab;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--text-color);
}

.music-player-title {
    color: var(--text-color);
    margin-left: 1rem;
    font-size: 12px;
}

.music-player-body {
    height: 110px;
    background-color: var(--text-color);
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: .5rem;
}

.song-change {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.button-border {
    border: 1px solid var(--primary-color);
    padding: 1px;
}

.song-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
}

.song-button img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: var(--primary-color);
}

.volume-change {
    display: flex;
    justify-content: center;
    height: 30px;
    background-color: var(--primary-color);
}

.volume-border {
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-color);
}

.volume-icon {
    width: 15px;
    height: 15px;
    margin: 0 .5rem 0 .5rem;
}

.volume-slider.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px; 
    height: 10px; 
    background-color: var(--primary-color);
    border-radius: 3rem;
    position: relative;
    cursor: pointer;
    margin-right: .5rem;
    border: 1px solid var(--text-color);
}

.volume-slider.inner {
    width: 150px; 
    height: 8px; 
    background-color: var(--text-color);
    border-radius: 3rem;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--primary-color);
}

.slider-knob {
    width: 15px; 
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: -4.5px;
    left: 40%;
    cursor: pointer;
}

.slider-knob-inner {
    margin: 0 auto;
    width: 10px; 
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.progress-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem .8rem .5rem .8rem;
    background-color: var(--primary-color);
}

.progress-border {
    margin: 1px;
    border: 1px solid var(--text-color);
    height: 100%;
    width: 320px;
}

.now-playing {
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: .5rem;
}

.playing,
.time-display {
    font-size: 12px;
}

.progress-bar {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 300px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 3rem;
    position: relative;
    border: 1px solid var(--text-color);
    margin-bottom: .5rem;
}

.progress-bar-inner {
    width: 300px; 
    height: 7.5px; 
    background-color: var(--text-color);
    border-radius: 3rem;
    position: relative;
    border: 1px solid var(--primary-color);
}

.progress {
    height: 100%;
    width: 0;
    background-color: var(--primary-color);
}

.btn {
    background-color: transparent;
    color: var(--text-color);
    font-size: 14px;
    border: none;
    cursor: pointer;
  }

.playing {
    text-align: center;
}

/* FOLDER */
#folder {
    position: absolute;
    top: 7%;
    left: 5%;
    border-bottom: 1px solid var(--text-color);
    text-align: center;
    background-color: var(--primary-color);
}

.folder-head {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: start;
    height: 25px;
    width: 550px;
}

.folder-head-left {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 25px;
    padding-left: .5rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border: 1px solid var(--text-color);
    border-bottom: none;
}

.folder-head-right {
    border-bottom: 1px solid var(--text-color);
    background-color: transparent;
    background-image: none;
}

.folder-draggable-item {
    cursor: grab;
    width: 550px;
    height: 50px;
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    cursor: move;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding-left: .5rem;
}

.star-icon {
    width: 20px;
    height: auto;
}

.folder-title {
    color: var(--text-color);
    width: 100%;
    height: 20px;
    border: 1px solid var(--text-color);
    padding: 5px;
    background-color: var(--secondary-color);
}

.folder-title,
.folder-name {
    color: var(--text-color);
    text-align: start;
    font-size: 10px;
}

.folder-draggable-item .close-button {
    width: 38px;
}

.folder-body {
    width: auto;
    height: 250px;
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
}

.folder-content {
    width: 530px;
    height: 240px;
    margin: 0 auto;
    border: 1px solid var(--text-color);
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.folder-content-left {
    background-color: var(--secondary-color);
    border-right: 1px solid var(--text-color);
}

.folder-content-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
}

.photo-icon {
    width: 45px;
    height: auto;
    cursor: pointer;
}

.photo-title {
    color: var(--text-color);
    font-size: 10px;
    text-align: center;
}

/* IMG 001 */
#img1 {
    position: absolute;
    top: 70%;
    right: 7%;
    width: 450px;
    height: 200px;
    border: 1px solid var(--text-color);
    text-align: center;
    z-index: 1;
    background-color: var(--primary-color);
    box-shadow: 5px 5px var(--text-color);
}

.img1-draggable-item {
    cursor: grab;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--text-color);
}

.img1-title {
    color: var(--text-color);
    margin-left: 1rem;
    font-size: 12px;
}

.img1-draggable-item .close-button {
    margin: 0 1rem 0 0;
    width: 30px;
}

.img1-body {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2.5px;
}

.img1-image {
    width: 350px;
    height: auto;
}

/* IMG 002 */
#img2 {
    position: absolute;
    top: 35%;
    left: 2%;
    width: 300px;
    height: 300px;
    border: 1px solid var(--text-color);
    text-align: center;
    z-index: 1;
    background-color: var(--primary-color);
    box-shadow: 5px 5px var(--text-color);
}

.img2-draggable-item {
    cursor: grab;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--text-color);
}

.img2-title {
    color: var(--text-color);
    margin-left: 1rem;
    font-size: 12px;
}

.img2-draggable-item .close-button {
    margin: 0 1rem 0 0;
    width: 30px;
}

.img2-body {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2.5px;
}

.img2-image {
    width: 250px;
    height: auto;
}